extends layout
block body
    .container-fluid
      .row
        .jumbotron
          h1 Welcome to Biking-Guider
          h1.text-center.lead(style="font-size:200%;").
            <b>It's the best place for your cycling desire</b>
          p.lead
            ul
              .col-md-2
              li
                p Your cycling to a new level with Biking-guider!
              .col-md-2
              li
                p Biking-guider is the web application that is designed for cyclists.
              .col-md-2
              li
                p Create your own tour path, view and join the exisiting cycling events.
          p.bigbutton
            a.bigbutton.btn.btn-lg.btn-danger(href='/register', role='button') Register
          br
          br
