extends layout
block body
  script.
    $("#home").attr('class','active');
  .container-fluid
    .jumbotron
      .container-fluid
        .row
            h3 Enjoy a wonderful biking experience with a simple click.
          col-lg-6.col-md-6.col-sm-6.col-xs-6.col-lg-offset-3.col-md-offset-3.col-sm-offset-3.col-xs-offset-3.control-label.control-label
            a(href='/login'): button.btn.btn-primary Login