doctype html
html
  head
    meta(charset='utf-10')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    title= 'Biking Guider | ' + title
    link(href='/main.css', rel='stylesheet')
    link(href='/jumbotron.css', rel='stylesheet')
    script(src='/lib/jquery-1.11.1.min.js', type="text/javascript")
    .container
      .header
        ul.nav.nav-pills.pull-right
          li
            a(href='/') Home
          if user
            li
              a(href='/dashboard') Dashboard
            li
              a(href='/tours') Tours
            li
              a(href='/route') Route
            li
              a(href='/logout') Logout
          else
            li
              a(href='/login') Login
            li
              a(href='/register') Register
        h3.text-muted Biking-Guider
        br
        body
            block body
