
extends layout

block body
  link(href='/google_map.css', rel='stylesheet')
  link(href='/griddle.css', rel='stylesheet')
  link(href='/griddle_theme.css', rel='stylesheet')
  link(href='/comments.css', rel='stylesheet')
  #react-main-mount
  script(src='/jquery-1.11.1.min.js', type="text/javascript")
  script(src='/modal.js', type="text/javascript")
  script(src='/notify.js', type="text/javascript")
  script(src='/tours.bundle.js', type="text/javascript")
